@page "/"
<PageTitle>سەرەکی</PageTitle>


<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
            <img src="/images/bg/bg1.jpg" class="d-block w-100 " style="height:400px;" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
            <img src="/images/bg/bg1.jpg" class="d-block w-100 " style="height:400px;" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item">
            <img src="/images/bg/bg1.jpg" class="d-block w-100 " style="height:400px;" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<br />
<MudSkeleton  />

    <MudContainer Class="mt-12">
    <MudText Typo="Typo.h4" Align="Align.Center" GutterBottom="true">بەناوبانگترین</MudText>
    <MudText Typo="Typo.h6" Align="Align.Center">بەناوبانگترین جۆرەکانی مۆبایل لە سالی ٢٠٢٢</MudText>
    <MudGrid Class="mt-8" >
        <MudItem xs="12" sm="6" md="4">
            <MudCard>
                <MudImage Fluid="true" Src="/image/phone/googlepixle7pro.jpg" Style="padding-right:75px;padding-left:75px;padding-top:5px" Class="rounded-lg" />
                <MudCardContent>
                    <MudText Align="Align.Center" Typo="Typo.h5"><b>Google Pixle 7 Pro</b></MudText>
                    <br />
                    <MudText Align="Align.Center" Typo="Typo.body1">1000$</MudText>
                    <br />
                     <MudText Align="Align.Center" Typo="Typo.body1">
                    <MudButton  Variant="Variant.Filled" StartIcon="@Icons.Outlined.Info" Color="Color.Info">زانیاری تر</MudButton>
                    <MudButton  Variant="Variant.Filled" EndIcon="@Icons.Outlined.Payment" Color="Color.Primary">کڕین</MudButton>
                    </MudText>
                </MudCardContent>
                <MudCardActions>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudCard>
                <MudImage Fluid="true" Src="/image/phone/iphone14promax.jpg" Style="padding-right:75px;padding-left:75px;padding-top:5px" Class="rounded-lg" />
                <MudCardContent>
                    <MudText Align="Align.Center" Typo="Typo.h5">Iphone 14 pro max</MudText>
                    <br />
                    <MudText Align="Align.Center" Typo="Typo.body1">1300$</MudText>
                    <br />
                     <MudText Align="Align.Center" Typo="Typo.body1">
                    <MudButton  Variant="Variant.Filled" StartIcon="@Icons.Outlined.Info" Color="Color.Info">زانیاری تر</MudButton>
                    <MudButton  Variant="Variant.Filled" EndIcon="@Icons.Outlined.Payment" Color="Color.Primary">کڕین</MudButton>
                    </MudText>
                </MudCardContent>
                <MudCardActions>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudCard>
                <img src="/images/phone/galaxys22ultra.png" class="rounded mx-auto d-block" style="height:200px;" alt="...">
                <MudCardContent>
                    <MudText Align="Align.Center" Typo="Typo.h5">S22 Ultra 5G</MudText>
                    <br />
                    <MudText Align="Align.Center" Typo="Typo.h5">1100$</MudText>
                    <br />
                    <MudText Align="Align.Center" Typo="Typo.body1">
                        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Outlined.Info" Color="Color.Info">زانیاری تر</MudButton>
                        <MudButton Variant="Variant.Filled" EndIcon="@Icons.Outlined.Payment" Color="Color.Primary">کڕین</MudButton>
                    </MudText>
                </MudCardContent>
                <MudCardActions>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</MudContainer>
<br />

<MudSkeleton />
<MudText Align="Align.Center" Typo="Typo.body1">Copyright © 2022 Bahoz Company| Designed by Umer Agha</MudText>


